@import "utils";

.questions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 100px;
  padding-bottom: 140px;

  @media screen and (max-width: $maxTabletWidth) {
    gap: 30px 20px;
  }

  @media screen and (max-width: $maxMobileWidth) {
    grid-template-columns: 1fr;
  }

  &__header {
    line-height: 130%;
  }

  &__button {
    margin: 0;
  }
}
