$minWidth: 320px;
$maxMobileWidth: 767px;
$maxTabletWidth: 1024px;
$maxNotebookWidth: 1280px;
$maxWidth: 1440px;

$ident: 125px;
$identTablet: 35px;
$identMobile: 30px;

$fontMain: "DIN Pro", helvetica, sans-serif;
$fontAdditional: "Helvetica Neue", helvetica, sans-serif;

$background: #f7f7f7;
$white: #fff;
$errorColor: #dc3027;

$turquoise: #0db2b3;
$green: #0c797a;
$greenLight: #eefafa;
$black: #131313;
$granit:#333;
$grey: #7c7c7c;
$greyDark: #4f4f4f;
$greyLight: #bdbdbd;
$lagoonInactive: #cfeff0;
$greyLightInactive: #d0d0d0;

$heightButton: 48px;
$widthBbutton: 174px;
$widthButtonSmall: 102px;

$stepperPointSize: 16px;
$stepperListMargin: 40px;
$collorBlockSize: 32px;

$socialIconSize: 22px;

$technologyHeight: 700px;
$technologyWidth: 1280px;
